{% extends 'base.html' %}

{% block title %} Search instructions {% endblock %}


{% block content %}
    <div class="container">
        <div class="row my-3">
            <h4>Поиск точных форм</h4>
            <p>
                Запрос, состоящий из одного слова (например, мука), находит все контексты, содержащие точную форму
                данного слова (но не муку, мукой и т. д. ). Запрос в поиске точных форм, содержащий несколько
                слов (в миску просеять муку), находит все контексты, содержащие все словоформы запроса в
                пределах одного предложения — следующие в том же порядке, что и в запросе (например, контекст просеять
                муку в миску не найдется).
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Что хотим найти?</th>
                        <th scope="col">Запрос</th>
                        <th scope="col">Пример выдачи</th>
                    </tr>
                </thead>
                <tbody>
                {% for example in simple %}
                    <tr>
                        <td>{{ example[0] }}</td>
                        <td>{{ example[1] }}</td>
                        <td>
                            {% for result in example[2] %}
                                {{ result }} <br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row my-3">
            <h4>Лексико-грамматический поиск</h4>
            <p>
                В лексико-грамматическом поиске можно задавать последовательность лексем и/или словоформ, обладающих
                определенными грамматическими характеристиками.<br>
                Каждый блок формы объединяет условия на одно Слово. Для Слова можно задать лемму/словоформу, частеречный
                тэг и грамматические признаки. Про формат см. помощь при соответствующих полях. Помимо этого, каждое поле
                с вводом поддерживает регулярные выражаения. <br>
                По-умолчанию в форме показано только одно Слово, при желании можно добавить дополнительные Слова
                самостоятельно, нажав плюсик справа.<br>
                Условия на расстояние между словами доступны начиная со Слова 2 и задают расстояние между текущим
                словом и предыдущим, находящимся в форме поиска выше.<br>
                См. подробнее помощь при полях "Лемма", "Слово", "Грамматические признаки", "Семантические признаки" и т.д.
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Что хотим найти?</th>
                        <th scope="col">Запрос</th>
                        <th scope="col">Пример выдачи</th>
                    </tr>
                </thead>
                <tbody>
                {% for example in advanced %}
                    <tr>
                        <td>{{ example[0] }}</td>
                        <td>
                            {% for result in example[1] %}
                                {{ result }} <br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for result in example[2] %}
                                {{ result }} <br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
